<?xml version="1.0"?>

<configuration>

  <connectionStrings>
    <add name="myConnectionString"
         connectionString="Driver={MySQL ODBC 3.51 Driver}; Server=sample_server; Database=sample_school_db; User=sample_user; Password=sample_password; Option=3;" />
  </connectionStrings>

  <system.web>
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

</configuration>

